<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>ACS1710 Homework 2: Routes, Forms and Templates</h1>
        <br>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <br>
        <a href="http://127.0.0.1:5001">Click Here</a> to return to the home page.
</body>
</html>